In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import findspark
findspark.init()

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/12/02 16:15:38 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [5]:
df = spark.read.csv('mpg.csv', header=True, inferSchema=True)
df.show(5)

+----+---------+-----------+----------+------+----------+----+--------+
| MPG|Cylinders|Engine Disp|Horsepower|Weight|Accelerate|Year|  Origin|
+----+---------+-----------+----------+------+----------+----+--------+
|15.0|        8|      390.0|       190|  3850|       8.5|  70|American|
|21.0|        6|      199.0|        90|  2648|      15.0|  70|American|
|18.0|        6|      199.0|        97|  2774|      15.5|  70|American|
|16.0|        8|      304.0|       150|  3433|      12.0|  70|American|
|14.0|        8|      455.0|       225|  3086|      10.0|  70|American|
+----+---------+-----------+----------+------+----------+----+--------+
only showing top 5 rows

In [6]:
df.createOrReplaceTempView("mileage")

In [7]:
results = spark.sql("SELECT * FROM mileage WHERE MPG > 40")
results.show()

+----+---------+-----------+----------+------+----------+----+--------+
| MPG|Cylinders|Engine Disp|Horsepower|Weight|Accelerate|Year|  Origin|
+----+---------+-----------+----------+------+----------+----+--------+
|43.1|        4|       90.0|        48|  1985|      21.5|  78|European|
|43.4|        4|       90.0|        48|  2335|      23.7|  80|European|
|41.5|        4|       98.0|        76|  2144|      14.7|  80|European|
|44.3|        4|       90.0|        48|  2085|      21.7|  80|European|
|40.8|        4|       85.0|        65|  2110|      19.2|  80|Japanese|
|44.6|        4|       91.0|        67|  1850|      13.8|  80|Japanese|
|46.6|        4|       86.0|        65|  2110|      17.9|  80|Japanese|
|44.0|        4|       97.0|        52|  2130|      24.6|  82|European|
+----+---------+-----------+----------+------+----------+----+--------+

In [8]:
spark.sql("SELECT DISTINCT Origin FROM mileage").show()

+--------+
|  Origin|
+--------+
|European|
|Japanese|
|American|
+--------+

In [9]:
spark.sql("SELECT COUNT(*) FROM mileage WHERE Origin = 'Japanese' ").show()

+--------+
|count(1)|
+--------+
|      79|
+--------+

In [10]:
spark.sql("SELECT COUNT(*) FROM mileage WHERE MPG > 40").show()

+--------+
|count(1)|
+--------+
|       8|
+--------+

In [11]:
spark.sql("SELECT Year, COUNT(Year) FROM mileage GROUP BY Year").show()

+----+-----------+
|Year|count(Year)|
+----+-----------+
|  78|         36|
|  81|         28|
|  76|         34|
|  72|         28|
|  77|         28|
|  82|         30|
|  80|         27|
|  73|         40|
|  70|         29|
|  75|         30|
|  71|         27|
|  79|         29|
|  74|         26|
+----+-----------+

In [12]:
spark.sql("SELECT MAX(MPG) FROM mileage").show()

+--------+
|max(MPG)|
+--------+
|    46.6|
+--------+

In [13]:
spark.stop()

In [14]:
spark = SparkSession.builder.appName("Diamonds SparkSQL").getOrCreate()

In [15]:
df = spark.read.csv('diamonds.csv', header=True, inferSchema=True)
df.show(5)

+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
|  s|carat|    cut|color|clarity|depth|table|price|   x|   y|   z|
+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
|  1| 0.23|  Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|  2| 0.21|Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|  3| 0.23|   Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|  4| 0.29|Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|  5| 0.31|   Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
+---+-----+-------+-----+-------+-----+-----+-----+----+----+----+
only showing top 5 rows

In [16]:
df.createOrReplaceTempView("diamonds")

In [17]:
results = spark.sql("SELECT * FROM diamonds")
results.show()

+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|  s|carat|      cut|color|clarity|depth|table|price|   x|   y|   z|
+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
|  1| 0.23|    Ideal|    E|    SI2| 61.5| 55.0|  326|3.95|3.98|2.43|
|  2| 0.21|  Premium|    E|    SI1| 59.8| 61.0|  326|3.89|3.84|2.31|
|  3| 0.23|     Good|    E|    VS1| 56.9| 65.0|  327|4.05|4.07|2.31|
|  4| 0.29|  Premium|    I|    VS2| 62.4| 58.0|  334| 4.2|4.23|2.63|
|  5| 0.31|     Good|    J|    SI2| 63.3| 58.0|  335|4.34|4.35|2.75|
|  6| 0.24|Very Good|    J|   VVS2| 62.8| 57.0|  336|3.94|3.96|2.48|
|  7| 0.24|Very Good|    I|   VVS1| 62.3| 57.0|  336|3.95|3.98|2.47|
|  8| 0.26|Very Good|    H|    SI1| 61.9| 55.0|  337|4.07|4.11|2.53|
|  9| 0.22|     Fair|    E|    VS2| 65.1| 61.0|  337|3.87|3.78|2.49|
| 10| 0.23|Very Good|    H|    VS1| 59.4| 61.0|  338| 4.0|4.05|2.39|
| 11|  0.3|     Good|    J|    SI1| 64.0| 55.0|  339|4.25|4.28|2.73|
| 12| 0.23|    Ideal|    J|    VS1| 62.8| 56.0|  340|3.93| 3.9|2.46|
| 13| 0.22|  Premium|    F|    SI1| 60.4| 61.0|  342|3.88|3.84|2.33|
| 14| 0.31|    Ideal|    J|    SI2| 62.2| 54.0|  344|4.35|4.37|2.71|
| 15|  0.2|  Premium|    E|    SI2| 60.2| 62.0|  345|3.79|3.75|2.27|
| 16| 0.32|  Premium|    E|     I1| 60.9| 58.0|  345|4.38|4.42|2.68|
| 17|  0.3|    Ideal|    I|    SI2| 62.0| 54.0|  348|4.31|4.34|2.68|
| 18|  0.3|     Good|    J|    SI1| 63.4| 54.0|  351|4.23|4.29| 2.7|
| 19|  0.3|     Good|    J|    SI1| 63.8| 56.0|  351|4.23|4.26|2.71|
| 20|  0.3|Very Good|    J|    SI1| 62.7| 59.0|  351|4.21|4.27|2.66|
+---+-----+---------+-----+-------+-----+-----+-----+----+----+----+
only showing top 20 rows

In [19]:
spark.sql("SELECT DISTINCT cut FROM diamonds").show()

+---------+
|      cut|
+---------+
|  Premium|
|    Ideal|
|     Good|
|     Fair|
|Very Good|
+---------+

In [20]:
spark.sql("SELECT COUNT(*) FROM diamonds WHERE cut = 'Premium' ").show()

+--------+
|count(1)|
+--------+
|   13791|
+--------+

In [21]:
spark.sql("SELECT COUNT(*) FROM diamonds WHERE table > 65").show()

+--------+
|count(1)|
+--------+
|     181|
+--------+

In [22]:
spark.sql("SELECT color, COUNT(color) FROM diamonds GROUP BY color").show()

+-----+------------+
|color|count(color)|
+-----+------------+
|    F|        9542|
|    E|        9797|
|    D|        6775|
|    J|        2808|
|    G|       11292|
|    I|        5422|
|    H|        8304|
+-----+------------+

In [23]:
spark.sql("SELECT MAX(price) FROM diamonds").show()

+----------+
|max(price)|
+----------+
|     18823|
+----------+

In [24]:
spark.stop()