In [1]:
import findspark
findspark.init()

In [2]:
from pyspark import SparkContext, SparkConf
from pyspark.sql import SparkSession

In [3]:
sc = SparkContext.getOrCreate()

spark = SparkSession.builder.appName("Python Spark Dataframes").config("spark.sql.legacy.timeParserPolicy", "LEGACY").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/01/12 10:18:54 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
df1 = spark.read.csv("dataset1.csv", header=True, inferSchema=True)
df2 = spark.read.csv("dataset2.csv", header=True, inferSchema=True)

In [5]:
df1.show(5)

+-----------+-----------+------+-----------+--------+
|customer_id|date_column|amount|description|location|
+-----------+-----------+------+-----------+--------+
|          1|   1/1/2022|  5000| Purchase A| Store A|
|          2|  15/2/2022|  1200| Purchase B| Store B|
|          3|  20/3/2022|   800| Purchase C| Store C|
|          4|  10/4/2022|  3000| Purchase D| Store D|
|          5|   5/5/2022|  6000| Purchase E| Store E|
+-----------+-----------+------+-----------+--------+
only showing top 5 rows

In [6]:
df2.show(5)

+-----------+----------------+-----+------+
|customer_id|transaction_date|value| notes|
+-----------+----------------+-----+------+
|          1|        1/1/2022| 1500|Note 1|
|          2|       15/2/2022| 2000|Note 2|
|          3|       20/3/2022| 1000|Note 3|
|          4|       10/4/2022| 2500|Note 4|
|          5|        5/5/2022| 1800|Note 5|
+-----------+----------------+-----+------+
only showing top 5 rows

In [7]:
df1.printSchema()
df2.printSchema()

root
 |-- customer_id: integer (nullable = true)
 |-- date_column: string (nullable = true)
 |-- amount: integer (nullable = true)
 |-- description: string (nullable = true)
 |-- location: string (nullable = true)

root
 |-- customer_id: integer (nullable = true)
 |-- transaction_date: string (nullable = true)
 |-- value: integer (nullable = true)
 |-- notes: string (nullable = true)

In [8]:
from pyspark.sql import functions as F

In [9]:
df2.withColumn("quarter", F.quarter(F.to_date(F.col("transaction_date"), "dd/MM/yyyy"))).show()

+-----------+----------------+-----+-------+-------+
|customer_id|transaction_date|value|  notes|quarter|
+-----------+----------------+-----+-------+-------+
|          1|        1/1/2022| 1500| Note 1|      1|
|          2|       15/2/2022| 2000| Note 2|      1|
|          3|       20/3/2022| 1000| Note 3|      1|
|          4|       10/4/2022| 2500| Note 4|      2|
|          5|        5/5/2022| 1800| Note 5|      2|
|          6|       10/6/2022| 1200| Note 6|      2|
|          7|       15/7/2022|  700| Note 7|      3|
|          8|       20/8/2022| 3000| Note 8|      3|
|          9|       25/9/2022|  600| Note 9|      3|
|         10|      30/10/2022| 1200|Note 10|      4|
|         11|       5/11/2022| 1500|Note 11|      4|
|         12|      10/12/2022|  800|Note 12|      4|
|         13|       15/1/2023| 2000|Note 13|      1|
|         14|       20/2/2023|  700|Note 14|      1|
|         15|       25/3/2023| 1800|Note 15|      1|
|         16|       30/4/2023| 1000|Note 16|      2|
|         17|        5/5/2023|  400|Note 17|      2|
|         18|       10/6/2023| 1500|Note 18|      2|
|         19|       15/7/2023| 3000|Note 19|      3|
|         20|       20/8/2023|  600|Note 20|      3|
+-----------+----------------+-----+-------+-------+
only showing top 20 rows

In [10]:
df1 = df1.withColumn("year", F.year(F.to_date(F.col("date_column"), "dd/MM/yyyy")))
df2 = df2.withColumn("quarter", F.quarter(F.to_date(F.col("transaction_date"), "dd/MM/yyyy")))

In [11]:
df1.show(5)

+-----------+-----------+------+-----------+--------+----+
|customer_id|date_column|amount|description|location|year|
+-----------+-----------+------+-----------+--------+----+
|          1|   1/1/2022|  5000| Purchase A| Store A|2022|
|          2|  15/2/2022|  1200| Purchase B| Store B|2022|
|          3|  20/3/2022|   800| Purchase C| Store C|2022|
|          4|  10/4/2022|  3000| Purchase D| Store D|2022|
|          5|   5/5/2022|  6000| Purchase E| Store E|2022|
+-----------+-----------+------+-----------+--------+----+
only showing top 5 rows

In [12]:
df2.show(5)

+-----------+----------------+-----+------+-------+
|customer_id|transaction_date|value| notes|quarter|
+-----------+----------------+-----+------+-------+
|          1|        1/1/2022| 1500|Note 1|      1|
|          2|       15/2/2022| 2000|Note 2|      1|
|          3|       20/3/2022| 1000|Note 3|      1|
|          4|       10/4/2022| 2500|Note 4|      2|
|          5|        5/5/2022| 1800|Note 5|      2|
+-----------+----------------+-----+------+-------+
only showing top 5 rows

In [13]:
df1 = df1.withColumnRenamed('amount', 'transaction_amount')
df2 = df2.withColumnRenamed('value', 'transaction_value')

In [14]:
df1.show(5)
df2.show(5)

+-----------+-----------+------------------+-----------+--------+----+
|customer_id|date_column|transaction_amount|description|location|year|
+-----------+-----------+------------------+-----------+--------+----+
|          1|   1/1/2022|              5000| Purchase A| Store A|2022|
|          2|  15/2/2022|              1200| Purchase B| Store B|2022|
|          3|  20/3/2022|               800| Purchase C| Store C|2022|
|          4|  10/4/2022|              3000| Purchase D| Store D|2022|
|          5|   5/5/2022|              6000| Purchase E| Store E|2022|
+-----------+-----------+------------------+-----------+--------+----+
only showing top 5 rows

+-----------+----------------+-----------------+------+-------+
|customer_id|transaction_date|transaction_value| notes|quarter|
+-----------+----------------+-----------------+------+-------+
|          1|        1/1/2022|             1500|Note 1|      1|
|          2|       15/2/2022|             2000|Note 2|      1|
|          3|       20/3/2022|             1000|Note 3|      1|
|          4|       10/4/2022|             2500|Note 4|      2|
|          5|        5/5/2022|             1800|Note 5|      2|
+-----------+----------------+-----------------+------+-------+
only showing top 5 rows

In [15]:
df1 = df1.drop('description','location')
df2 = df2.drop('notes')

In [16]:
df1.show(5)
df2.show(5)

+-----------+-----------+------------------+----+
|customer_id|date_column|transaction_amount|year|
+-----------+-----------+------------------+----+
|          1|   1/1/2022|              5000|2022|
|          2|  15/2/2022|              1200|2022|
|          3|  20/3/2022|               800|2022|
|          4|  10/4/2022|              3000|2022|
|          5|   5/5/2022|              6000|2022|
+-----------+-----------+------------------+----+
only showing top 5 rows

+-----------+----------------+-----------------+-------+
|customer_id|transaction_date|transaction_value|quarter|
+-----------+----------------+-----------------+-------+
|          1|        1/1/2022|             1500|      1|
|          2|       15/2/2022|             2000|      1|
|          3|       20/3/2022|             1000|      1|
|          4|       10/4/2022|             2500|      2|
|          5|        5/5/2022|             1800|      2|
+-----------+----------------+-----------------+-------+
only showing top 5 rows

In [17]:
joined_df = df1.join(df2, on='customer_id', how='inner')
joined_df.show(5)

+-----------+-----------+------------------+----+----------------+-----------------+-------+
|customer_id|date_column|transaction_amount|year|transaction_date|transaction_value|quarter|
+-----------+-----------+------------------+----+----------------+-----------------+-------+
|          1|   1/1/2022|              5000|2022|        1/1/2022|             1500|      1|
|          2|  15/2/2022|              1200|2022|       15/2/2022|             2000|      1|
|          3|  20/3/2022|               800|2022|       20/3/2022|             1000|      1|
|          4|  10/4/2022|              3000|2022|       10/4/2022|             2500|      2|
|          5|   5/5/2022|              6000|2022|        5/5/2022|             1800|      2|
+-----------+-----------+------------------+----+----------------+-----------------+-------+
only showing top 5 rows

In [18]:
filtered_df = joined_df.where(joined_df['transaction_amount'] > 1000)
filtered_df.show(10)

+-----------+-----------+------------------+----+----------------+-----------------+-------+
|customer_id|date_column|transaction_amount|year|transaction_date|transaction_value|quarter|
+-----------+-----------+------------------+----+----------------+-----------------+-------+
|          1|   1/1/2022|              5000|2022|        1/1/2022|             1500|      1|
|          2|  15/2/2022|              1200|2022|       15/2/2022|             2000|      1|
|          4|  10/4/2022|              3000|2022|       10/4/2022|             2500|      2|
|          5|   5/5/2022|              6000|2022|        5/5/2022|             1800|      2|
|          6|  10/6/2022|              4500|2022|       10/6/2022|             1200|      2|
|          8|  20/8/2022|              3500|2022|       20/8/2022|             3000|      3|
|         10| 30/10/2022|              1800|2022|      30/10/2022|             1200|      4|
|         11|  5/11/2022|              2200|2022|       5/11/2022|             1500|      4|
|         13|  15/1/2023|              4800|2023|       15/1/2023|             2000|      1|
|         15|  25/3/2023|              4200|2023|       25/3/2023|             1800|      1|
+-----------+-----------+------------------+----+----------------+-----------------+-------+
only showing top 10 rows

In [20]:
total_transaction_amount_per_customer = filtered_df.groupBy('customer_id').agg(F.sum('transaction_amount').alias('total_amount'))
total_transaction_amount_per_customer.show()

+-----------+------------+
|customer_id|total_amount|
+-----------+------------+
|         31|        3200|
|         85|        1800|
|         78|        1500|
|         34|        1200|
|         81|        5500|
|         28|        2600|
|         76|        2600|
|         27|        4200|
|         91|        3200|
|         22|        1200|
|         93|        5500|
|          1|        5000|
|         52|        2600|
|         13|        4800|
|          6|        4500|
|         16|        2600|
|         40|        2600|
|         94|        1200|
|         57|        5500|
|         54|        1500|
+-----------+------------+
only showing top 20 rows

In [21]:
total_transactions_per_customer = joined_df.groupBy('customer_id').agg(F.sum('transaction_amount').alias('total_amount'))
total_transactions_per_customer.show()

+-----------+------------+
|customer_id|total_amount|
+-----------+------------+
|         31|        3200|
|         85|        1800|
|         65|         700|
|         53|         700|
|         78|        1500|
|         34|        1200|
|         81|        5500|
|         28|        2600|
|         76|        2600|
|         26|         900|
|         27|        4200|
|         44|        1000|
|         12|         900|
|         91|        3200|
|         22|        1200|
|         93|        5500|
|         47|         700|
|          1|        5000|
|         52|        2600|
|         13|        4800|
+-----------+------------+
only showing top 20 rows

In [22]:
total_transactions_per_customer.write.mode("overwrite").saveAsTable("customer_totals")

In [23]:
filtered_df.write.mode("overwrite").parquet("filtered_data.parquet")

In [25]:
df1_high_value = df1.withColumn("high_value", F.when(df1.transaction_amount > 5000,
                                                     F.lit("Yes")).otherwise(F.lit("No")))
df1_high_value.show()

+-----------+-----------+------------------+----+----------+
|customer_id|date_column|transaction_amount|year|high_value|
+-----------+-----------+------------------+----+----------+
|          1|   1/1/2022|              5000|2022|        No|
|          2|  15/2/2022|              1200|2022|        No|
|          3|  20/3/2022|               800|2022|        No|
|          4|  10/4/2022|              3000|2022|        No|
|          5|   5/5/2022|              6000|2022|       Yes|
|          6|  10/6/2022|              4500|2022|        No|
|          7|  15/7/2022|               200|2022|        No|
|          8|  20/8/2022|              3500|2022|        No|
|          9|  25/9/2022|               700|2022|        No|
|         10| 30/10/2022|              1800|2022|        No|
|         11|  5/11/2022|              2200|2022|        No|
|         12| 10/12/2022|               900|2022|        No|
|         13|  15/1/2023|              4800|2023|        No|
|         14|  20/2/2023|               300|2023|        No|
|         15|  25/3/2023|              4200|2023|        No|
|         16|  30/4/2023|              2600|2023|        No|
|         17|   5/5/2023|               700|2023|        No|
|         18|  10/6/2023|              1500|2023|        No|
|         19|  15/7/2023|              3200|2023|        No|
|         20|  20/8/2023|              1000|2023|        No|
+-----------+-----------+------------------+----+----------+
only showing top 20 rows

In [26]:
avg_transaction_per_quarter = df2.groupBy('quarter').agg(F.avg('transaction_value').alias("average_transaction_value"))
avg_transaction_per_quarter.show()

+-------+-------------------------+
|quarter|average_transaction_value|
+-------+-------------------------+
|      1|        1111.111111111111|
|      3|       1958.3333333333333|
|      4|        816.6666666666666|
|      2|                   1072.0|
+-------+-------------------------+

In [27]:
avg_transaction_per_quarter.write.mode("overwrite").saveAsTable("quarterly_averages")

In [28]:
total_transaction_value_per_year = df1.groupBy('year').agg(F.sum('transaction_amount').alias('total_transaction_value'))
total_transaction_value_per_year.show()

+----+-----------------------+
|year|total_transaction_value|
+----+-----------------------+
|2025|                  25700|
|2027|                  25700|
|2023|                  28100|
|2022|                  29800|
|2026|                  25700|
|2029|                  25700|
|2030|                   9500|
|2028|                  25700|
|2024|                  25700|
+----+-----------------------+

In [29]:
total_transaction_value_per_year.write.mode("overwrite").csv("total_transaction_value_per_year.csv")